<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Lonely Planet</title>
  <link href="all.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="enhancements.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
  <div id="header">
    <div id="logo"></div>
    <h1>Lonely Planet: <%= @destination_name %></h1>
  </div>

  <div id="wrapper">
    <div id="sidebar">
      <div class="block">
        <h3>Navigation</h3>

        <div class="content">
          <div class="inner">
            <div id="navcontainer">
                <ul>
                  <% @super_navi.each do |location| %>
                      <% normalized_name = location.downcase.gsub(' ', '_') %>
                      <li><a href="<%= normalized_name %>.html"><%= location %></a></li>
                  <% end %>
                  <li>
                    <ul>
                      <li class='destination'> <%= @destination_name %>
                          <ul>
                          <% @sub_navi.each do |location| %>
                              <% normalized_name = location.downcase.gsub(' ', '_') %>
                              <li><a href="<%= normalized_name %>.html"><%= location %></a></li>
                          <% end %>
                          </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main">
      <div class="block">
        <div class="secondary-navigation">
          <ul>
            <li class="first"><a href="#"><%= @destination_name %></a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="content">
          <div class="inner">
            <% unless @travel_alert.nil? %>
             <div class="travel_alert">
               <%= @travel_alert %>
             </div>
            <% end %>
	        <div class="overview">
	          <h4>Overview</h4>
              <%= @overview %>
            </div>

            <% unless @brief_history.nil? %>
              <div class="history">
	            <h4>Brief History</h4>
                <%= @brief_history %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
