#navcontainer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navcontainer a {
    display: block;
    padding: 3px 12px 3px 8px;
    text-decoration: none;
    font-weight: bold;
}

#navcontainer li a {
    display: block;
    padding: 3px 3px 3px 9px;
    text-decoration: none;
    font-weight: normal;
}

#navcontainer li .destination {
    display: block;
    padding: 3px 3px 3px 17px;
    text-decoration: none;
    font-weight: bold;
}

#main > div > div.content > div > div.history, .overview, .travel_alert {
    padding: 5px 25px;
}

.travel_alert {
    font-size: 18px;
    color: red;
}